header{
    background-color: #fff;
    padding:  1.5rem ;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    z-index: 1111;

    .header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .logo{
            display: flex;
            .head2{
                color: red;
            }
        }
        ul{
            display: flex;
            list-style: none;
            gap: 2rem;
            a{
                text-decoration: none;
                color: black;
                font-size: 20px;
            }
        }
    }
}